<!--代理人-->
<div ng-repeat="value in arbilist.arbiApplyData['agents'] track by $index">

    <!--代理人分类-->
    <div>
        <span>代理人分类：</span>
        <label class="radio-inline">
            <input type="radio" ng-model="value['agentType']" name="agentType" value="律师代理"> 律师代理
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="value['agentType']" name="agentType" value="公民代理"> 公民代理
        </label>
    </div>

    <!--代理人名称-->
    <div>
        <span>代理人名称</span>
        <input type="text" ng-model="value['name']" maxlength="25" placeholder="请输入代理人名称（不大于25个字）">
    </div>

    <!--代理人性别-->
    <div>
        <span>代理人性别：</span>
        <label class="radio-inline">
            <input type="radio" ng-model="value['sex']" name="agentSex" value="男"> 男
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="value['sex']" name="agentSex" value="女"> 女
        </label>
    </div>

    <!--证件类型-->
    <div>
        <span>证件类型</span>
        <select ng-model="value['identityType']">
            <option ng-repeat="value in arbilist.arbiApplyDataSupply['overallVariable']['post']" value="{{value}}">{{value}}</option>
        </select>
    </div>

    <!--证件号码-->
    <div>
        <span>证件号码</span>
        <input type="text" ng-model="value['identityNo']" maxlength="50" placeholder="请输入证件号码（不大于50个字）">
    </div>

    <!--联系号码-->
    <div>
        <span>联系号码</span>
        <input type="text" ng-model="value['mobiles']" maxlength="250" placeholder="请输入联系号码（不大于250个字）">
    </div>

    <!--当事人类型-->
    <div>
        <span>当事人类型：</span>
        <label class="radio-inline">
            <input type="radio" ng-model="value['litigantType']" name="litigantType" value="申请人"> 申请人
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="value['litigantType']" name="litigantType" value="被申请人"> 被申请人
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="value['litigantType']" name="litigantType" value="第三人"> 第三人
        </label>
    </div>

    <!--委托人名称-->
    <div>
        <span>委托人名称</span>
        <input type="text" ng-model="value['principals']">
        <span>（如果多个请用逗号分隔）</span>
    </div>


    <!--代理权限-->
    <div>
        <span>代理权限：</span>
        <label class="radio-inline">
            <input type="radio" ng-model="value['power']" name="agentPower" value="一般代理"> 一般代理
        </label>
        <label class="radio-inline">
            <input type="radio" ng-model="value['power']" name="agentPower" value="特殊权限"> 特殊权限
        </label>
    </div>
    <!--如为特殊权限，则此项必填-->
    <div ng-if="value['power']=='特殊权限'">
        <span>特殊权限：</span>
        <label class="checkbox-inline" ng-repeat="(powerDepictKey, powerDepictValue) in value['powerDetailArray'] track by $index">
            <input type="checkbox" ng-model="powerDepictValue['status']"> {{powerDepictValue['name']}}
        </label>
    </div>


    <!--公司名称-->
    <div>
        <span>公司名称</span>
        <input type="text" ng-model="value['company']" maxlength="50" placeholder="请输入公司名称（不大于50个字）">
    </div>

    <!--联系邮箱-->
    <div>
        <span>联系邮箱</span>
        <input type="text" ng-model="value['emails']"  maxlength="250" placeholder="请输入联系邮箱（不大于250个字）">
        <span>（如有多个请用英文逗号分隔）</span>
    </div>

    <!--联系地址-->
    <div>
        <span>联系地址</span>
        <input type="text" ng-model="value['addresses']" maxlength="250" placeholder="请输入联系地址（不大于250个字）">
        <span>（如有多个请用英文逗号分隔）</span>
    </div>

    <!--材料名称-->
    <div>
        <span>材料名称</span>
        <input type="text" ng-model="value['materialCode']">
    </div>

    <!--附件上传-->
    <div>
        <div ng-click="arbilist.addFile('agents', $index)">
            <span>附件上传 +</span>
        </div>

        <!--循环读取上传附件的数据-->
        <div ng-repeat="fileValue in value['files'] track by $index">
            <span>点击上传附件</span>
            <input file-proxy type="file" parent-parent-index="null" parent-index="{{$parent.$index}}" file-index="{{$index}}" edit-type="agents" />
        </div>
    </div>


</div>





