<div style="height: 100%; overflow-y: scroll">

    <!--第一行-->
    <div style="display: flex">
        <!--操作者类型-->
        <div style="flex: 1">
            <span>操作者类型：</span>
            <label class="radio-inline">
                <input type="radio" ng-model="arbilist.arbiApplyData['overall']['operaterType']" name="operaterType{{$index}}" value="申请人"> 申请人
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="arbilist.arbiApplyData['overall']['operaterType']" name="operaterType{{$index}}"  value="第三方"> 第三方
            </label>
        </div>

        <!--操作者名称-->
        <div style="flex: 1">
            <span>操作者名称：</span>
            <input class="inputStyle" style="width: 242px"  type="text" ng-model="arbilist.arbiApplyData['overall']['operater']" />
        </div>
    </div>



    <!--事实与理由-->
    <div>
        <span>事实与理由：</span>
        <input class="inputStyle" style="width: 80%" type="text" ng-model="arbilist.arbiApplyData['claim']['reason']" maxlength="2000" placeholder="请输入事实与理由（最长2000个字）"/>
    </div>
    <!--请求项-->
    <div>
        <!--请求项添加-->
        <!--<div ng-click="arbilist.addClaimItems()">-->
            <!--<span>请求项</span>-->
            <!--<span>+ 添加请求项</span>-->
        <!--</div>-->

        <!--请求项内容-->
        <div ng-repeat="value in arbilist.arbiApplyData['claim']['claimItems'] track by $index">
            <!--请求内容-->
            <div>
                <span>请求内容</span>
                <input ng-model="value['claimContent']" maxlength="2000" placeholder="请输入请求内容（最长2000个字）">
            </div>

            <!--请求类型-->
            <div>
                <span>请求类型</span>
                <select class="form-control" ng-model="value['claimType']">
                    <option value="确认之诉">确认之诉</option>
                    <option value="给付之诉">给付之诉</option>
                    <option value="形成之诉">形成之诉</option>
                </select>
            </div>

            <!--请求标的-->
            <div>
                <span>请求标的</span>
                <input type="number" ng-model="value['disputeFee']" step="0.01" max="10000000000000.00" min="0.00">
            </div>

            <!--当事人名称-->
            <div>
                <span>当事人名称</span>
                <input type="text" ng-model="value['litigants']" maxlength="100" placeholder="提出该请求的当事人名称"/>
                <span>（如有多个请用英文逗号分隔）</span>
            </div>

            <!--仲裁请求描述-->
            <div>
                <span>仲裁请求名称</span>
                <input type="text" ng-model="value['materialCode']"/>
            </div>

            <!--附加数据-->
            <div>
                <!--附加数据值-->
                <div ng-click="arbilist.addAddictionData('claim', $index)">
                    <span>附加数据</span>
                    <span>附加数据添加+</span>
                </div>

                <!--附加数据填写-->
                <div ng-repeat="(extKey, extValue) in value['extData']">
                    <select class="form-control" ng-model="extKey">
                        <option ng-repeat="(claimExtOptionKey, claimExtOptionVal) in arbilist.extDataHelper['claimItems'] track by $index" value="{{claimExtOptionKey}}">{{claimExtOptionVal['name']}}</option>
                    </select>
                    <!--TODO placeholder的值根据claimExtValOption变化而变化-->
                    <input type="text" ng-model="extValue" placeholder="{{arbilist.extDataHelper['claimItems'][extKey]['placeholder']}}" />
                </div>

            </div>
        </div>



    </div>
</div>