<!--操作者类型-->
<div>
    <span>操作者类型：</span>
    <label class="radio-inline">
        <input type="radio" ng-model="arbilist.arbiApplyData['overall']['operaterType']" name="operaterType" value="申请人"> 申请人
    </label>
    <label class="radio-inline">
        <input type="radio" ng-model="arbilist.arbiApplyData['overall']['operaterType']" name="operaterType"  value="第三方"> 第三方
    </label>
</div>

<!--操作者名称-->
<div>
    <span>操作者名称：</span>
    <input type="text" ng-model="arbilist.arbiApplyData['overall']['operater']" />
</div>

<!--简述-->
<div>
    <span>案件描述</span>
    <input type="text" ng-model="arbilist.arbiApplyData['overall']['productCode']" />
</div>