<!--证据材料-->
<div style="height: 100%; overflow-y: scroll" class="scrollBar-7">
    <div ng-repeat="value in arbilist.arbiApplyData['evidences'] track by $index">

        <div style="margin-bottom: 30px; padding: 20px 15px;border: 5px solid lightgrey;width: 95%;border-radius: 5px">
            <!--提供方信息-->
            <span style="font-size: 15px; font-weight: bold; color: #3689aa">提供方信息</span>

            <div style="display: flex; margin-top: 15px">
                <!--证据提供者类型-->
                <div style="flex: 1">
                    <span>证据提供者类型：</span>
                    <label class="radio-inline">
                        <input type="radio" ng-model="value['providerType']" name="providerType{{$index}}" value="申请方"> 申请方
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="value['providerType']" name="providerType{{$index}}" value="被申请方"> 被申请方
                    </label>
                    <!--<label class="radio-inline">-->
                    <!--<input type="radio" ng-model="value['providerType']" name="providerType{{$index}}" value="第三方"> 第三方-->
                    <!--</label>-->
                    <!--<label class="radio-inline">-->
                    <!--<input type="radio" ng-model="value['providerType']" name="providerType{{$index}}" value="其他"> 其他-->
                    <!--</label>-->
                </div>

                <!--代理人名称-->
                <div style="flex: 1">
                    <span>提供者名称：</span>
                    <input type="text" class="inputStyle" style="width: 242px" ng-model="value['provider']" maxlength="500" placeholder="多个请用英文逗号分隔（500字内）">
                </div>
            </div>
        </div>


        <!--证据条目-->
        <div>
            <!--请求项添加-->
            <!--<div ng-click="arbilist.addEvidenceItems($index)">-->
                <!--<span>请求项</span>-->
                <!--<span>+ 添加请求项</span>-->
            <!--</div>-->

            <!--证据条目-->
            <div ng-repeat="itemValue in value['evidenceItems'] track by $index"  style="margin-bottom: 30px; padding: 20px 15px;border: 5px solid lightgrey;width: 95%;border-radius: 5px">

                <!--材料名称-->
                <span style="font-size: 15px; font-weight: bold; color: #3689aa">{{itemValue['materialCode']}}</span>

                <div style="margin-top: 15px; display: flex">
                    <!--是否有原件-->
                    <div style="flex: 1">
                        <span>是否有原件：</span>
                        <label class="radio-inline">
                            <input type="radio" ng-model="itemValue['hasOriginal']" name="hasOriginal{{$index}}" ng-value="true"> 是
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="itemValue['hasOriginal']" name="hasOriginal{{$index}}" ng-value="false"> 否
                        </label>
                    </div>

                    <!--证据名称-->
                    <div style="flex: 1">
                        <span>证据名称：</span>
                        <input class="inputStyle" style="margin-left: 15px; width: 242px" type="text" ng-model="itemValue['name']" maxlength="50"
                               placeholder="请输入证据材料名称（50字内）">
                    </div>
                </div>

                <!--材料名称-->
                <!--<div>-->
                    <!--<span>材料名称</span>-->
                    <!--<input type="text" ng-model="itemValue['materialCode']">-->
                <!--</div>-->


                <!--证明内容-->
                <div style="margin-top: 15px">
                    <span style="margin-right: 15px">证明内容：</span>
                    <textarea class="textAreaStyle" style="width: 595px; height: 80px;vertical-align: top" ng-model="itemValue['content']" maxlength="2000"
                              placeholder="请输入证明内容（最长2000个字）"></textarea>
                </div>


                <!--附件上传-->
                <div style="margin-top: 15px">
                    <!--<div ng-click="arbilist.addFile('evidences', $parent.$index, $index)">-->
                        <!--<span>附件上传 +</span>-->
                    <!--</div>-->

                    <!--循环读取上传附件的数据-->
                    <div ng-repeat="fileValue in itemValue['files'] track by $index">
                        <span>附件上传：</span>
                        <span style="margin-left: 15px; font-weight: bold; text-decoration: underline; color: #3689aa;cursor: pointer">点击上传</span>
                        <input style="display: inline-block; border: 1px solid lightgrey; margin-left: -60px;width: 60px; opacity: 0; cursor: pointer" file-proxy type="file" parent-parent-index="{{$parent.$parent.$index}}"
                               parent-index="{{$parent.$index}}" file-index="{{$index}}" edit-type="evidences"/>
                        <span ng-click="arbilist.downloadFile(fileValue)" ng-if="fileValue['fileKey']!=''" class="fa fa-file-pdf-o" style="margin-left: 15px;cursor: pointer; font-size: 20px; color: rebeccapurple"></span>
                        <span style="margin-left: 15px;" file-setting="{{fileValue['fileName']}}"> 请上传{{arbilist.getFilePrefixName(fileValue['fileName'])}}（文件类型范围:pdf）</span>
                        <span ng-if="fileValue['fileKey']!=''" style="margin-left: 15px; font-weight: bold; text-decoration: underline; color: #3689aa;cursor: pointer" ng-click="fileValue['fileKey']=''">删除</span>
                    </div>
                </div>

                <div style="margin-top: 15px; display: flex">
                    <!--是否有原件-->
                    <div style="flex: 1">
                        <span>来源：</span>
                        <input class="inputStyle" style="margin-left: 15px; width: 242px" type="text" ng-model="itemValue['source']" maxlength="50"
                               placeholder="非必填">
                    </div>

                    <!--证据名称-->
                    <div style="flex: 1">
                        <span>来源Id：</span>
                        <input class="inputStyle" style="margin-left: 15px; width: 242px" type="text" ng-model="itemValue['sourceId']" maxlength="50"
                               placeholder="非必填">
                    </div>
                </div>


                <!--附加数据-->
                <div style="display: flex; flex-direction: row;flex-wrap: wrap;">
                    <!--<div ng-click="arbilist.addAddictionData('evidences', $parent.$index, $index)">-->
                        <!--<span>附加数据</span>-->
                    <!--</div>-->

                    <div ng-repeat="(extKey, extValue) in itemValue['extData']" style="flex: 50%; margin-top: 15px" ext-setting="{{extKey}}">
                        <!--<select class="form-control" ng-model="extKey">-->
                            <!--<option ng-repeat="(eviExtValOptionKey, eviExtValOptionValue) in arbilist.extDataHelper['evidences'] track by $index"-->
                                    <!--value="{{eviExtValOptionKey}}">{{eviExtValOptionValue['name']}}-->
                            <!--</option>-->
                        <!--</select>-->

                        <!--附加数据key值-->
                        <span style="margin-right: 15px">{{arbilist.extDataHelper['evidences'][extKey]['name']}}：</span>

                        <!--TODO placeholder的值根据eviExtValOption变化而变化-->
                        <!--附加数据value值-->
                        <input type="text" ng-model="itemValue['extData'][extKey]" class="inputStyle" input-width-setting="{{extKey}}"
                               placeholder="{{arbilist.extDataHelper['evidences'][extKey]['placeholder']}}"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




